@{
    ViewBag.Title = "Contact";
}
<h3>Contact us:</h3>
<address>
    Str. Academiei<br />
    Nr 14, Sector 1<br />
    C.P. 010014<br />
    Bucuresti, Romania<br/>
    <abbr title="Phone">Tel:</abbr>
    (4-021) 314 3508
    <br />
    <abbr title="Fax">Fax:</abbr>
    (4-021) 315 6990
</address>

<address>
    <strong>Secretariat:</strong>   <a href="mailto:secretariat@fmi.unibuc.ro">secretariat@fmi.unibuc.ro</a><br />
    <strong>Administration:</strong> <a href="mailto:admin@airesearch.com">admin@airesearch.com</a>
</address>
